{% extends 'base.html' %}
{% block userinfo %}

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ author_data.author_fname }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/author/updateinfo/">Update info</a>
    <a class="dropdown-item" href="/author/logout/">Logout</a>
  </div>
</div>
{% endblock %}
{% block body %}
    <h1>Welcome to Dashboard {{ author_data.author_fname }}</h1>
    {% if message %}
        <div class="alert alert-info">
            <div class="panel-body">
                {{ message }}
            </div>
        </div>

    {% endif %}
    <br />
    <a type="button" class="btn btn-primary" href="/author/insertarticle/">insert article</a>

    <h3>Here's List OF Your Articles</h3>
    <br/>
    {% for article in article_data %}
        <div class="card ">
            <div class="card-header">
                <div><a href="/article/{{ article.pk }}/" class="text-dark " style="font-size:x-large">
                    {{ article.article_title }}
                </a>
                        <a href="/author/updatearticle/{{ article.pk }}/" class="float-right" style="font-size: large">Update</a>
                </div>
                <br />
                <span class="oi oi-clock float-left" title="date" aria-hidden="true"></span>
                <div class="float-left ml-2 font-italic" style="font-size: small;">{{ article.article_date }}</div>

            </div>
        </div>
        <br/>
    {% endfor %}
{% endblock %}