{% extends 'base.html' %}
{% block body %}
    {% if message %}
    <div class = "alert alert-info">
    <div class = "panel-body">
        {{ message }}
    </div>
    </div>
    {% endif %}
    <h3>Forgot Password Form</h3><br />
    <form role="form" method="post" action="/author/forgotpassword/">
     {% csrf_token %}
        <div class="form-group">
            <label class="label" for="email">Enter Email:-</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>
        <br/>

        <input type="submit" class="submit">
    </form>
{% endblock %}