{% extends 'base.html' %}
{% block body %}
    {% if message %}
    <div class = "alert alert-info">
    <div class = "panel-body">
        {{ message }}
    </div>
    </div>
    {% endif %}
    <h3>Set Password Form</h3><br />
    <form role="form" method="post" action="/author/setpassword/{{ author_data.pk }}/">
     {% csrf_token %}
        <div class="form-group">
            <label class="label" for="password">Password:-</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>
        <br/>
        <div class="form-group">
            <label class="label" for="repassword">Re-Type Password:-</label>
            <input type="password" name="repassword" id="repassword" class="form-control">
        </div>
        <br/>
        <input type="submit" class="submit">
    </form>
{% endblock %}